---
---
body {
  background-color: #111111;
  font-family: 'Titillium Web', SansSerif, sans-serif;
}

@keyframes call {
  from {
    background-color: #FFFFFF;
    color: #EF5621;
  }
  to {
    background-color: #FF0000;
    color: #FFFFFF;
  }
}

hr {
  border-color: #777777;
}

.button {
  background-color: #222222;
  width: 100%;
  height: 16vh;
  border-left: #eee solid 2px;
  color: #EEEEEE;
  display: flex;
  align-items: center;
  font-size: 2.7rem;
  user-select: none;
  cursor: pointer;
  margin: 10px 0;
  position: relative;
  -webkit-clip-path: polygon(95% 100%, 100% 70%, 100% 0%, 0 0, 0 100%);
  clip-path: polygon(95% 100%, 100% 70%, 100% 0%, 0 0, 0 100%);

  &:before {
    position: absolute;
    top: 0;
    right: 0;
  }

  &:hover, &:focus, &.active {
    border-left: #FFFFFF solid 7px;
    color: #FFFFFF;
  }
}

.help {
  background-color: #222222;
  color: #C75224;
  height: 12vh;
  display: flex;
  align-items: center;
  vertical-align: middle;
  font-size: 2.7rem;
  user-select: none;
  cursor: pointer;
  text-align: center;
  width: 35%;
  margin: 0 auto;

  &:hover {
    background-color: #EF5621;
    color: white;
  }

  &.active {
    animation: bubble 1.0s linear 0.5s normal forwards;
    animation-name: call;
    animation-iteration-count: infinite;
  }

  div {
    margin: auto;
  }
}

#open-close {
  background-color: #222;
  height: 12vh;
  color: #AAAAAA;
  display: flex;
  align-items: center;
  vertical-align: middle;
  font-size: 2.7rem;
  user-select: none;
  cursor: pointer;
  text-align: center;
  width: 35%;
  margin: 0 auto;

  &:hover, &:focus {
    color: white;
  }
}

#close {
  display: none;
}

.oc-button {
  margin: auto;
}

#description {
  height: 15vh;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: left;
  vertical-align: middle;
}

#title {
  color: #CCCCCC;
  font-size: 1.75rem;
  margin: 0;
}

#floor {
  font-size: 2.5rem;
  margin: 0;
}